.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.rentalsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .rentalsWrapper {
    flex-direction: row;
    gap: 2rem;
  }
}
